{% extends "layout.html" %}
{% import 'macros.html' as macro %}

{% block content %}
  
<div  class="container" >
    
<div class="">
    <!-- <h4>All pitches</h4>
    <div  class="" ><br>
        {{ macro.display(pitches) }}
    </div> -->

    <h4>Romance</h4>
    <div  class="romance" ><br>
        {{ macro.display(romance)}}
    </div>

    <h4>advert</h4>
    <div  class="" id=""><br>
        {{ macro.display(advert) }}
    </div>

    <h4>Job</h4>
    <div><br>
        {{ macro.display(job) }}
        
    </div> 
</div>
</div>

{% endblock %}
