{% extends "layout.html" %}
{% import 'macros.html' as macro %}

{% block content %}
  
    
<div class="row">
    <!-- <h4>All pitches</h4>
    <div  class="" ><br>
        {{ macro.display(pitches) }}
    </div> -->
    <div class="col-md-4">
        <h6 class="text-info">Romance</h6>
         <div  class="romance" ><br>
        {{ macro.display(romance)}}
        </div>
    </div>
    
    <div class="col-md-4">
        <h6 class="text-info">advert</h6>
        <div  class="" id=""><br>
        {{ macro.display(advert) }}
         </div>
    </div>
    
    <div class="col-md-4">
        <h6 class="text-info">Job</h6>
        <div><br>
        {{ macro.display(job) }}
        
        </div> 
    </div>
    
</div>

{% endblock %}
