{% macro display(pitches) %}
				{% if pitches %}
					{% for category in pitches %}
							<h6 class="card-header text-lg-center text-success">{{category.title}}</h6>
							<div class="card-body">
									<p>{{category.content}}</p>
									<p class="text-center text-muted "> Category: {{category.category}}</p>
									<footer class="blockquote-footer text-center" > Posted by: {{category.user.username}}</footer>

									{% if current_user.is_authenticated %}

										<div><span class="foot" >{{category.comment.count()}} Comments</span> 
											<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm"> Comment</a>
										</div>  
									{% else %}	
										<a href="{{ url_for('main.login')}}"><button class="btn-primary">Login to comment</button></a>
									{% endif %}	
                            </div>        
                                    
					{% endfor %}
				{% else %}
				<div class="card w-90 mb-3">
					<div class="card-body">
				
						<p class="card-title">Category Has 0 posts</p>
					</div>
				</div>
				{% endif %}
{% endmacro %}